.button {
  width: 470px;
  height: 70px;
  margin-top: 10px;
  background-color: #1f27f5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}