.button_component {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 0;
  height: 90px;
  width: 170px;
  background-color: rgb(82, 82, 241);
  color: white;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.button_component:hover {
  background-color: rgb(104, 104, 233);
}


