.login_form {
  width: 590px;
  height: 450px;
  padding: 60px;
  gap: 30px;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #ffffff;
}

.login_title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.login_fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 24px;
}
