.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 600px;
  height: fit-content;
  border: 2px solid black;
  padding: 40px;
  margin: 40px;
  border-radius: 8px;
  background-color: rgb(87, 208, 255);
}
.avatar {
  width: 200px;
  height: 350px;
  border-radius: 30%; 
}