.feedback_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.feedback_row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.value {
  font-size: 20px;
  font-weight: bold;
}